{% extends 'layout.html' %}

{% block body %}

<!--<div id="map"></div>-->

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAal-cpSalD8hIyKNmJUBB_zD5z6XMOzgE&callback=initMap">
</script>-->
<div class="overlay">
  <img class="background" src="img/background.jpg"/>
</div>
<div class="first docs-layout-content mdl-layout__content mdl-color-text--black-600 mess-my-shit-up">
  <div class="center-align margin-top-10-percent">
    <h1 class="typo-styles__demo mdl-typography--display-4 light">I want to know about
      <span id="flipperOfShit" class="rotate">{{ places }}</span>
    </h1>
  </div>
  <div class="center-align margin-top-40">
    <div class="mdl-textfield mdl-js-textfield center-align scale-2">
      <input class="mdl-textfield__input" type="text" id="sample1">
      <label class="mdl-textfield__label shitty-text-color" for="sample1">A city</label>
    </div>
    <div class="margin-left-20 margin-right-20">
      <h4 class="typo-styles__demo mdl-typography--display-1">OR</h1>
    </div>
    <div class="mdl-textfield mdl-js-textfield center-align scale-2">
      <input class="mdl-textfield__input" type="text" id="sample2">
      <label class="mdl-textfield__label shitty-text-color" for="sample2">A suburb</label>
    </div>
  </div>
  <div class="center-align margin-top-80">
    <button id="go" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent scale-2">
      Suburbalyse
    </button>
  </div>
</div>

<div class="second" style="display: none">
  <div class="mdl-layout mdl-js-layout mdl-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <div class="mdl-textfield mdl-js-textfield center-align scale-2 margin-0-auto center-align white">
          <input class="mdl-textfield__input center-align-force" type="text" id="search">
          <label class="mdl-textfield__label other-shitty-text-color center-align-force" style="visibility: hidden" for="search">A city or suburb</label>
        </div>
      </div>
    </header>

    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="data">
          <div id="results">
            <div class="mdl-grid no-padding">
              <div class="mdl-cell mdl-cell--3-col">Housing Costs:</div>
              <div class="mdl-cell mdl-cell--3-col" id="housing"></div>
              <div class="mdl-cell mdl-cell--3-col">Traffic:</div>
              <div class="mdl-cell mdl-cell--3-col" id="traffic"></div>
            </div>
            <div class="mdl-grid no-padding">
              <div class="mdl-cell mdl-cell--3-col">Points of Interests:</div>
              <div class="mdl-cell mdl-cell--3-col" id="poi"></div>
              <div class="mdl-cell mdl-cell--3-col">Construction:</div>
              <div class="mdl-cell mdl-cell--3-col" id="constructions"></div>
            </div>
            <div class="mdl-grid no-padding">
              <div class="mdl-cell mdl-cell--3-col">Noise Levels:</div>
              <div class="mdl-cell mdl-cell--3-col" id="noise"></div>
              <div class="mdl-cell mdl-cell--3-col">Public Transport:</div>
              <div class="mdl-cell mdl-cell--3-col" id="transport"></div>
            </div>
            <div class="mdl-grid no-padding">
              <div class="mdl-cell mdl-cell--3-col">Distance to CBD:</div>
              <div class="mdl-cell mdl-cell--3-col" id="distance"></div>
            </div>
            <div class="mdl-grid no-padding">
              <div class="mdl-cell mdl-cell--12-col" style="height: 500px">
                <div id="population_chart" style="width: 100%; height: 100%"></div>
              </div>
            </div>
            <div class="mdl-grid no-padding" style="height: 500px">
                <div id="future_traffic" style="width: 100%; height: 100%"></div>
            </div>
            <div class="mdl-grid no-padding" style="height: 500px">
                <div id="past_traffic" style="width: 100%; height: 100%"></div>
            </div>
            <div class="mdl-grid no-padding" style="height: 500px">
                <div id="crime_chart" style="width: 100%; height: 100%"></div>
            </div>
          </div>
          <div id="notFound">
            <h3 class="typo-styles__demo mdl-typography--display-2 light center-align">No results for '<span id="searchTerm"></span>'</div>
          </div>
        </div>
        <div class="map">
          <div id="map"></div>

          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAal-cpSalD8hIyKNmJUBB_zD5z6XMOzgE&callback=initMap"></script>
        </div>
      </div>
    </main>
  </div>
</div>

{% endblock %}
